def menu_principal():   
    print("========Sistema Acadêmico IFMS Campos Três Lagoas========")
    print("[1] Consultar alunos matrículados")
    print("[2] Consultar professores cadastrados")
    print("[3] Consultar disciplinas")
    print("[4] Consultar turmas abertas")
    print("[5] Consultar professores por disciplinas")
    print("[6] Consultar professores por turma")
    print("[7] Consultar alunos por turmas")
    print("[8] Consultar alunos por disciplinas")
    print("[9] Matricular um novo aluno")
    print("[10] Cadastrar um novo professor(a)")
    opcao = int(input('Informe o valor desejado:  '))

